.chip{
    font-size: 0.7rem;
    background: linear-gradient(to right, #32353a  , #1a1d24);
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
    position: relative;
    max-height: 35px;
    overflow: hidden;
    font-size: 0.8rem;
    padding: 0 0.6rem;
    margin-top: 10px;
}